<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3
 bg-white border-bottom fixed-top shadow-sm">  
    <img src="/assets/images/ICP-Logo-165X36.png" alt="logo" style="max-height:80px;">
      <nav class="my-2 text-uppercase fs-7">
        <a class="p-2 link-body-emphasis text-decoration-none" href="#">Home</a>
        <a class="p-2 link-body-emphasis text-decoration-none" href="#">Menu</a>
        <a class="p-2 link-body-emphasis text-decoration-none" href="#">Orders</a>
        <a class="p-2 link-body-emphasis text-decoration-none" href="#">History</a>
        <a class="p-2 link-body-emphasis text-decoration-none" href="#">Support</a>
      </nav>
      <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark" ></i>
            <div class="cart-no">5</div>
        </a>
        <div class="d-flex align-items-center">
          <form class="w-100 me-3" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
          </form>
  
          <app-profile></app-profile>
        </div>
        <!-- <a href="" class="btn btn-outline-secondary me-2">Login</a>
        <a href="" class="btn btn-outline-secondary me-2">Sign Up</a> -->
    
      </div>
  </header>